@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  background: var(--main-white-color);
}

/* CONTAINER */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 10px;
}


/* HEADER */
.page-header {
  background: var(--main-white-color);
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.page-header .cta-contact {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 2px 18px;
  border-radius: 5px;
}

#abt{
  position: relative; right: -220px;
}
#resume{
position: relative; right: 75px;
}

#myname{
  padding-left: 20px; padding-right: 20px;background-color: #1358659e;
}

#logo{
  position: relative; left: 80px;
}
#swa{
width:60%;
}

#swarup{
   width:250px;
}

#social-bgg{
  background-color: #00000073;
}
/* MAIN */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  background: url(bcgd.jpg) no-repeat center / cover;
  background-blend-mode: luminosity;
}

.page-main div {
  max-width: 500px;
  margin-left:40px;
}

.img{
  position: absolute;
  top: 80px;
  right: 20px;
}

.card {
  box-shadow: 8px 10px 12px 0px rgb(0, 0, 0);
  border-color: black;
  border: 1px solid #0000003b;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 140px;
  right: 300px;
}

.title {
  color: black;
  font-size: 18px;
  background-color: #d4e4f173;
}

.btton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#social{
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* FOOTER */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background: var(--main-white-color);
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}

/* ANIMATIONS */
.page-header nav > *,
.page-main,
.page-footer > * {
  opacity: 0;
}

.page-header,
.page-footer,
.page-main .text-wrapper {
  overflow: hidden;

}

.text-wrapper{
    font-size: 20px;box-shadow: 8px 10px 12px 0px rgb(0, 0, 0);
  border-color: black;
  border: 1px solid #0000003b;background-color: #d4e4f173;padding-left: 20px;
}

.page-header nav > * {
  transform: translateY(-30px);
}

.page-footer > * {
  transform: translateY(30px);
}

.page-header {
  position: relative;
}

.page-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--main-purple-color);
  z-index: 99999;
  transform: scaleX(0);
}

.page-main .text-wrapper + .text-wrapper {
  margin-top: 10px;

}

.page-main .text-wrapper * {
  transform: translateY(120%);
}

.page-main .p-wrapper * {
  transform: translateY(-120%);
}

.loaded .page-header::after {
  animation: scaleIn 1.3s ease-in 0.2s forwards;
}

.loaded .page-main {
  animation: fadeIn 1s ease-in 0.7s forwards;
}

.loaded .page-header nav > *,
.loaded .page-footer > * {
  animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
}

.loaded .page-main .text-wrapper * {
  animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}
